@font-face
{
	font-family: "MontSerrat";
	src: url("fonts/Montserrat-Bold.otf") format("opentype");
	font-weight: bold;
}
@font-face
{
	font-family: "MontSerrat";
	src: url("fonts/Montserrat-Medium.otf") format("opentype");
	font-weight: normal;
}



.all
{
	display: flex;
	flex-direction: row;
	font-family: "MontSerrat";
}	

.photo
{
	justify-content: center;
	align-content: center;
	object-fit: cover;
	height: 10em;
	width: auto;
}

.lisere
{
	display: flex;
	flex-direction: column;
	width: 20%;
	background-color: #2a72d6;
	margin-left: 10%;
	border: 2px solid black;
	border-right: 0em;
}

.lisere h3
{
	background-color: #061F40;
	text-align: center;
	line-height: 40px;
	height: 50px;
	color: #96A4B6;
	font-weight: bold;
}

.info
{
	list-style-type: none;
	justify-items: start;
	padding: 5%;
	text-align: justify;
	line-height: 150%;
}

.info strong
{
	text-decoration: underline black;
	font-weight: bold;
}

.hobby
{
	position: relative;
	vertical-align: bottom;
	margin-top: 500px;
}

.icones
{
	display: flex;
	justify-content: space-between;
	top: 50%;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

.main
{
	display: flex;
	flex-direction: column;
	margin-right: 10%;
	padding-left: 30px;
	width: 700px;
	border: 2px solid black;
}

header
{
	height: 210px;
}

.header__titre
{
	color: #2a72d6;
	border-bottom: 0em;
}
.prenom
{
	color: #2a72d6;
	background-color: white;
}

span
{
	border-bottom: 3px solid #2a72d6;	
}

.main h3
{
	display: flex;
	flex-direction: row;
	border-bottom: solid #2a72d6;
	margin-right: 5%;
	line-height: 1.5em;
	font-size: 2em;
}

.main .section
{
	display: flex;
	flex-direction: column;
}

.section__item
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	margin-top: 2px;
}

.icones__dot
{
	margin-right: 1em;
	align-content: center;
	margin-top: 0em;
}

.section__item__date
{
	display: flex;
    flex-direction: column;
	width: 30%;
	font-size: 1em;
}

.section__item__date p
{
	margin: 0px;
	padding: 0px;
}

.section article
{
	margin: 15px;
}

.section__item h4
{
	font-size: 1.5em;
	vertical-align: top;
	margin: 0px;
	padding: 0%;
}

.section__item h5
{
	font-size: 1.05em;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Montserrat";
	font-weight: normal;
}
.section__item__description
{
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.section__item__description p
{
	margin: 0px;
	padding: 0px;
}

.section__recommandations div
{
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

.section__recommandations article
{
	width: max-content;
	margin-right: 40px;
	margin-bottom: 20px;
}

em
{
	font-style: italic;
}

ul
{
	list-style-type: none;
	margin-left: 0;
	text-align: justify;
	vertical-align: 1.5;
	padding: 0;
	margin: 0;
}

.main .fas
{
	color: #2a72d6;
	margin-right: 10px;
	margin-top: 5px;
}

.main .far
{
	color: #2a72d6;
	margin-right: 10px;
	margin-top: 5px;
}